#product {
  display: flex;
  flex-direction: column;
  gap: 16px;
  img {
    width: 100%;
  }
  footer p {
    width: 100%;
  }
  header,
  footer {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
  }
  h6, p {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  p {
    margin-bottom: 4px;
  }
  footer {
    flex-wrap: wrap;
  }
}

.theme-light #product img {
  filter: brightness(1.25) saturate(1.6);
}

.theme-dark #product img {
  filter: brightness(1.4) saturate(1.2);
}
